# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]*$py.class


# Distribution / packaging
.idea
.Python
env/
build/
dist/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Sphinx documentation
docs/_build/
